* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #2B432A;
    --color-secondary: #FCC2CC;
    --color-green-salade: #D6E8D5;
    --color-rose-light: #FBEAF0;
    --color-beige: #F5F0E8;
    --green: #2B432A;
    --green-opacity-reduced: rgb(43, 67, 42, 0.65);
    --green-secondary: #1B2A1A;
    --font-size-title-secondary: 44px;
    --red:#4B1528;
    --color-green-opacity: #2b432ab5; 
}
body {
    font-family: 'Inter',sans-serif;
    width: 100%;
}

.future-step ul{
    display:flex;
    justify-content:center;
    gap:32px;
}
.future-step ul li{
    display:flex;
    flex-direction:column;
    max-width:25%;
    list-style-type:none;
    text-align:center;
}
.future-step h2,h4 {
    color: var(--color-primary);
}

.all-futur-step-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height:100vh;
    align-items:center;
    justify-content:center;
    padding:96px 32px;
}
.future-step{
    padding-top:16px;
    display:flex;
    flex-direction:column;
    gap:32px;
    justify-content:center;
    align-items:center;
    background: var(--color-green-salade);
}
.title-future-step hgroup{
    display:flex;
    flex-direction:column;
    gap:8px;
    align-items: flex-start;
    text-align:center;
}
.title-future-step hgroup p{
    font-size: 11px;
    font-weight:600;
    letter-spacing:2px;
    color:#555;
}
.title-future-step hgroup h2{
    font-size: 2rem;
    font-weight:lighter;
}
.future-step .button-primary{
    padding:12px 24px;
    width:fit-content;
    border-radius:100px;
}
.future-step ul li{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    line-height:1.5;
}
.future-step ul li img{
    height:80%;
    width:70%;
}
.future-step ul li p{
    color:rgb(27, 42, 26, 0.8)
}
.future-step a{
    background-color:var(--color-secondary);
    color:#4B1528;
    font-weight:bold;
}

.future-step a:hover{
    transform:scale(1.08);
    transition:0.3s ease-in-out;
}

header {
    background-color: #203221;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 120px 60px 40px;
}

.header-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    gap:16px;
    padding-left: 100px;

}


.header-txt h1 {
    color: white;
    font-size: 48px;
    font-weight: 800;
    font-family: Caprasimo;
    
    font-weight:lighter;
}

.header-txt p {
    color: #747B6C;
    font-size: 16px;
    line-height:1.1;
}

.header-txt p:first-of-type{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
  
    margin-bottom: 12px;
    color:var(--color-secondary);
   
}
.header-txt p:nth-of-type(2){
    font-size:19px;
    line-height:1.4;
}
.header-img{
    width: 850px;
    height: auto;

}
















.team {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.all-team-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.all-team-container h2 {
    color: var(--color-primary);
    padding: 16px;
    font-size: 2rem;
}

.cards-team {
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.card-team {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 20%;
}

.avatar-team {
    width: 100%;
    height: 35vh;
    display: block;
    border-radius: 16px;
    object-fit: cover;
}

.infos-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px;

}
.name-team{
    font-size: 1.4rem;
    font-weight: lighter;
    padding: 8px;
}

.role-team{
font-size: 1.1rem;

}


.odd-section {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f0e8;
    padding: 60px 80px;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    

}

.odd-center{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.odd-title {
    display: flex;
    flex-direction: column;
   gap: 4px;
}



.odd-section_label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #2d4a2d;
}

.odd-section_title {
    font-size: 48px;
    font-weight: lighter;
    color: #2d4a2d;
    font-family: Caprasimo;
}

.odd-section_cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 420px;
        padding-top: 48px;
}

.odd-card {
    background-color: var(--color-green-salade);
    border-radius: 16px;
    padding: 24px 28px;
    border: 1px solid var(--color-beige);
    margin-right: 30px;
    
}

.odd-row {
    display: flex;
    flex-direction: row;
}

.odd-card_label {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--color-secondary);
    
    margin-bottom: 10px;
    
}

.odd-card_text {
    font-size: 14px;
    color: var(--color-primary);
    line-height: 1.6;
    
}

.odd-card_vert {
    background-color: var(--color-primary);
    border-radius: 16px;
    padding: 32px 32px;
    max-width: 350px;
    max-height: 300px;
    margin-top: 130px;
    border-width: medium;
    border-style: none;
    border-color: currentcolor;
    border-image: initial;
}

.odd-card_vert .odd-card_label {
    color: var(--color-secondary);
    margin-bottom: 14px;
}

.odd-card_vert .odd-card_text {
    font-size: 15px;
    color: #f0ebe0;
    line-height: 1.7;
}


.cible-section {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 60px 175px;



}

.cible-section_label {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-primary);
   
    margin-bottom: 10px;

}

.cible-section_title {
    font-size: 42px;
    font-weight: lighter;
    color: var(--color-primary);
    margin-bottom: 16px;
    font-family: Caprasimo;
}

.cible-section_intro {
    font-size: 13px;
    color: #444;
    line-height: 1.7;
    max-width: 420px;
    margin-bottom: 50px;
}

.persona-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding: 32px 36px;
    max-width: 700px;
}

.persona-card_photo {
    width: 180px;
    height: 180px;
    min-width: 180px;
    border-radius: 15%;
    object-fit: cover;
    border: 1px dashed #ccc;
}

.persona-card_info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.persona-card_badge {
    display: inline-block;
    background-color: #FCC2CC;
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 50px;
    width: fit-content;
}

.persona-card_name {
    font-size: 26px;
    font-weight: 800;
    color: var(--color-primary);
    font-family: Caprasimo;
    font-weight:lighter;
}

.persona-card_age {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    font-family: 'Arial', sans-serif;
    margin-left: 8px;
}

.persona-card_desc {
    font-size: 13px;
    color: #444;
    line-height: 1.7;
    max-width: 360px;
}

.test-section {
    display:flex;
    flex-direction: column;
    gap:32px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-beige);
    padding-top: 120px;
}
.step {
    display:flex;
    justify-content:center;
    position: relative;
    gap:32px;
    align-items:center;

}
.test-section_title {
    font-size: 42px;
    font-weight: lighter;
    color: var(--green);
    margin-bottom: 14px;
    margin-left:175px;
    font-family: Caprasimo;
    padding-top: 40px;
}

.test-section .line{
    display:flex;
    justify-self:center;
    background-color: var(--color-secondary);
    height: 2px;
    width: 565px;
    position: absolute;
    z-index: 1;
    top: 30px;
}
.step-card {
    display:flex;
    flex-direction:column;
    gap:16px;
    z-index:100;
    align-items:center;
    justify-content:center;
}
.step-card p:nth-of-type(2){
    font-size: 11px;
    font-weight:600;
    letter-spacing:2px;
    color:#555;
}
.step-card img{
    height:56px;
    width:56px;
    padding:16px;
    object-fit:contain;
}
.step-card .circle{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:100%;
    background-color:var(--color-secondary);
}
.user{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:32px;
}
.user-card {
    display:flex;
    padding:24px 16px;
    justify-content:flex-start;
    flex-direction:column;
    max-width:30%;
    height:100%;
    gap:16px;
    border:1px solid var(--green);
    border-radius:24px;
}
.user-card_name {
    font-family: Caprasimo;
    color: var(--green);
}
.user-infos {
    display:flex;
    align-items:center;
    gap: 16px;
    max-height:20%;
}
.user-photo img{
    width:100%;
    height:100%;
}
.user-intro {
    display:flex;
    flex-direction: column;
    gap:8px;
}
.user-card-desc{
    display:flex;
    flex-direction:column;
    gap:16px;
}
.button-advantage {
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--green);
    background-color: rgb(168, 233, 166,0.25);
    padding:12px 10px;
    border-radius:20px;
    font-weight:bold;
    text-align:center;
    width:fit-content;

}

.button-improvements {
    display:flex;
    align-items:center;
    justify-content:center;
    color:#4B1528;
    background-color: var(--color-secondary);
    padding:12px 8px;
    border-radius:20px;
    font-weight:bold;
    text-align:center;
    width:fit-content;
}

.evolution-ecrans{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.ecran{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.ecran img{
    width: 220px;
    height: auto;
}