@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
/* Le code CSS spécifique à la page d'accueil */
*{
    margin: 0px;
    padding: 0px;
}
:root{
  --color-primary: #1F3D2E;
  --color-secondary: #ED93B1;
  --color-green-salade: #D6E8D5;
  --color-rose-light: #FBEAF0;
  --color-baige: #FFFAED;
  --green: #2B432A;
  --green-opacity-reduced: rgb(43, 67, 42, 0.65);
  --green-secondary: #1B2A1A;
}
.green{
  color:var(--green-secondary);
}
.green-opacity-reduced{
  color:var(--green-opacity-reduced);
}
header{
  display:flex;
  background-color:var(--color-baige);
  flex-direction: column;
  align-items: center;
  height:100%;
  justify-content:center;
  padding-top: 120px;
}

header .header-texte{
  display: flex;
  padding:0px 75px;
  text-align:center;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  max-width:760px;
  gap: 22px;
}
header h1{
  font-size:62px;
}

.titre-section{
  text-transform:uppercase;
  font-weight:bold;
  font-size: 13px;
  letter-spacing: 15%;;
}
header p:nth-of-type(2){
  max-width:540px;
}
.description{
  font-size:19px;
}
header p{
  color: var(--green-opacity-reduced);
  text-align:center;
}

header ul{
  display:flex;
  gap: 10px;
}

header ul li{
  list-style-type: none;
  border: solid 1px rgb(43, 67, 42, 0.18);
  padding:8px 16px;
  background-color:transparent;
  border-radius: 100px;
}
header ul li a{
  color:rgb(27, 42, 26, 0.75);
  text-decoration: none;
}
header ul li:hover{
  transform:scale(1.05);
  transition:ease-in-out 0.4s;
}
header #button-download{
  background-color: var(--green);
  padding: 12px 24px;
  width:fit-content;
  border-radius:100px;
  text-decoration:none;
  color:var(--color-baige);
}
header #button-download:hover{
  transform:scale(1.1);
  transition:ease-in-out 0.4s;
  background-color: black;
}
header img{
  width:65%;
  height:65%;
}
.contexte{
  display:flex;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-baige);
  gap:64px;
}
.contexte-texte p:first-of-type{
  color:var(--green-opacity-reduced);
}
.contexte-texte p:nth-of-type(2){
  color:rgb(43, 67, 42, 0.85);
}
.contexte-texte{
  display:flex;
  flex-direction:column;
  gap:20px;
  max-width:40%;
}
.contexte-texte ul{
  display:flex;
  gap:32px;
}
.contexte-texte ul li{
  color:var(--green-opacity-reduced);
  font-weight:550;
  text-transform: uppercase;
  display:flex;
  flex-direction:column;
  list-style-type: none;

}
.contexte-texte ul li p{
  font-size:12px;
}
.contexte-image{
  max-width: 50%;
}
.contexte-image img{
  height:80%;
  width:80%;
}

.features {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top:64px;
  padding-bottom:32px;
  background-color: white;
}

.features p{
  color:var(--green-opacity-reduced);
}
.features-container {
  margin-top:32px;
}


.feature {
  height:100vh;
  display:flex;
  gap: 64px;
  text-align: center;
  justify-content: center;
  align-items:center;
}
.reverse{
  display:flex;
  flex-direction: row-reverse;
}
.feature img {
  height: 70%;
  width:80%;
  object-fit:contain;
  border-radius: 15px;
  margin-bottom: 15px;
}
.number-feature{
  font-family:caprasimo;
  background-color:var(--color-secondary);
  width:fit-content;
  border-radius:17px;
  padding:0px 8px;
  color:#4B1528;
}
.feature-text{
  display:flex;
  text-align: left;
  flex-direction:column;
  max-width:30%;
}










.containet-section-temoinages{
  background-color: var(--color-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.h-temoinages{
  display: flex;
  flex-direction: column;
  color: var(--color-baige);
  padding: 48px;
}









.container-temoinages {
    width: 56vw;
    margin: 64px auto;
    overflow: hidden;
    position: relative;
    
}


.cards-temoinages {
    display: flex;
    transition: transform 0.5s ease;
}


.card-temoinages {
    min-width: 280px;
    margin: 0 10px;
    background: var(--color-baige);
    padding: 24px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 5px 15px #ccc;
}


.card-temoinages img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}


.card-temoinages h3 {
    margin: 10px 0;
}


.stars-temoinages {
    color: orange;
}


.temoinages button {
    position: absolute;
    top: 45%;
    border: none;
    background: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}


.prev-temoinages {
    left: -20px;
}


.next-temoinages {
    right: -20px;
}



.container-section-install{
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--color-baige);
  height: 80vh;
  width: 100%;
  color: var(--color-primary);
  justify-content: center;
  align-items: center;
}


.store-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}


.store-btn {
    width: 190px;
    height: 60px;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s;
}


.store-btn:hover {
    transform: scale(1.05);
    opacity: 0.85;
}


.store-btn img {
    width: 35px;
    height: 35px;
}


.store-btn span {
    display: block;
    font-size: 11px;
}


.store-btn strong {
    font-size: 18px;
}

.QR-code{
  height: 25vh;
  width: 25vh;
  padding: 32px;
}
