/* Le code CSS spécifique à la page d'accueil */
*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height:calc(100vh - 93.59px) ;
    width: 100%;

}
.container-img{
   
    width: 50%;
    
}
.mockup{
height: 80% ;
width: 35%;
}
.slogan{
   width: 50%;
   height: 60wh ;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bolder;
} 