@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

/* Le code CSS spécifique à la page d'accueil */
* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-snap-type: y proximity;
}

.snap-section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  box-sizing: border-box;
}

.green {
  color: var(--green-secondary);
}
h2{
  font-size:var(--font-size-title-secondary);
  font-weight:lighter;
}
h5{
  font-size:25px;
}
.green-opacity-reduced {
  color: var(--green-opacity-reduced);
}
header{
  background-color: var(--color-beige);
  height:100vh;
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

header .header-texte {
  display: flex;
  padding: 0px 0px 0px 50px;
  flex-direction: column;
  width:45%;
  gap: 32px;
}
header .header-img{
  width:55%;
  height:100%;
}
header .header-img img{
  width: 100%;
  object-fit: contain;
  height: 100%;

}
header h1 {
  font-size: 62px;
  line-height:0.9;
  font-weight:lighter;
}

.titre-section {
      font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 15%;
  ;
}

header p:nth-of-type(2) {
  max-width: 540px;
}

.description {
  font-size: 19px;
}

header p {
  color: var(--green-opacity-reduced);
  font-size: large;

  line-height: 1.2;
}

header ul {
  display: flex;
  gap: 10px;
}

header ul li {
  list-style-type: none;
  border: solid 1px rgb(43, 67, 42, 0.18);
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 100px;
}

header ul li a {
  color: rgb(27, 42, 26, 0.75);
  text-decoration: none;
}

header ul li:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.4s;
}

header #button-download {
  background-color: var(--green);
  padding: 12px 24px;
  width: fit-content;
  border-radius: 100px;
  text-decoration: none;
  color: var(--color-beige);
}

header #button-download:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.4s;
  background-color: var(--color-secondary);
  color:#4B1528;
}

.contexte {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--color-beige);
  gap: 64px;
}

.contexte-texte {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 40%;
}

.contexte-texte p:nth-of-type(2) {
  color: rgb(43, 67, 42, 0.85);
}
.contexte-texte .liste-difficultes{
  display:flex;
  flex-direction:column;
  gap:12px;
}
.contexte-texte .liste-difficultes li{

  display:flex;
  list-style-type:none;
  line-height:1.3;
}
.contexte-texte .contexte-chiffres {
  display: flex;
  gap: 32px;
}

.contexte-texte .contexte-chiffres li {
  color: var(--green-opacity-reduced);
  font-weight: 550;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  list-style-type: none;

}
.contexte-texte .difficulte-texte p{
  color: var(--green-opacity-reduced);
  font-size:19px;
  line-height: 1.2;
}
.contexte-texte ul li p {
  font-size: 12px;
}

.contexte-image {
  max-width: 50%;
}

.contexte-image img {
  height: 80%;
  width: 80%;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
}

.features p:not(.number-feature) {
  color: var(--green-opacity-reduced);

}
.number-feature p{
  padding:16px;
  border-radius:100%;
}
.text .number-feature{
  width:10px;
  height:10px;
}
.features-container{
  display: flex;
  flex-direction: column;
  gap: 0;
}

.features-accroche{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  margin: 0 auto;
  padding-top: 20vh;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.feature {
  height: 100vh;
  display: flex;
  gap: 64px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.feature:first-child{
    padding-top: 0;
}
.text-align{
  text-align: center;
}


.reverse {
  display: flex;
  height:100vh;
  flex-direction: row-reverse;
  background-color:var(--color-beige);
}

.feature img {
  height: 80%;
  width: 80%;
  object-fit: contain;
  border-radius: 15px;
  margin-bottom: 15px;
}

.feature-text {
  display: flex;
  gap:14px;
  text-align: left;
  flex-direction:column;
  max-width:30%;
}
.feature-text p{
  line-height:1.3;
  font-size:19px;
}
.containet-section-temoinages {
  background-color: var(--color-primary);
  height: 100vh;
  align-items:center;
  display: flex;
  flex-direction: column;
}

.h-temoinages {
  display: flex;
  flex-direction: column;
  color: var(--color-beige);
  padding: 48px;
  gap: 16px;
}


#feature3{
    margin-bottom: 0;
}

#temoignages {
  height: 100vh;
}


.containet-section-temoinages {
  padding-top: 20vh;
  background-color: var(--color-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-temoinages {
  width: 60%;
  position: relative;
  overflow: hidden;
}

.swiper-pagination-temoinages {
  position: static !important;
  margin-top: 24px;
  text-align: center;
}

.swiper-wrapper {
  align-items: stretch;
}

.card-temoinages {
  background: var(--color-beige);
  padding: 24px;
  border-radius: 16px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.swiper-pagination-temoinages .swiper-pagination-bullet {
  background: var(--color-beige) !important;
  opacity: 0.5;
}

.swiper-pagination-temoinages .swiper-pagination-bullet-active {
  background: var(--color-secondary) !important;
  opacity: 1;
}

.name-pic{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.card-temoinages img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.card-temoinages h3 {
  margin: 10px 0;
}

.stars-temoinages {
  color: orange;
}


.container-section-install {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-beige);
  height: 80vh;
  width: 100%;
  color: var(--color-primary);
  justify-content: center;
  align-items: center;
}


.store-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}


.store-btn {
  transition: 0.3s;
  gap: 0px;
}

.store-img {
 
  border-radius: 16px;
  object-fit: cover;
}


.store-btn:hover {
  transform: scale(1.05);
  opacity: 0.85;
}





.store-btn span {
  display: block;
  font-size: 11px;
}


.store-btn strong {
  font-size: 18px;
}

.QR-code {
  height: 25vh;
  width: 25vh;
  padding-top: 16px;

}