html {
  height: 100%;
  width: 100%;
  background-color: #FFF1E5;
  
}


:root{
  --color-primary: #1F3D2E;
  --color-secondary: #ED93B1;
  --color-green-salade: #D6E8D5;
  --color-rose-light: #FBEAF0;

  

}


*{
  font-family: "Inter",sans-serif;
  margin: 0px;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Caprasimo", sans-serif;
}
button, a{
  border-radius: 16px;
  text-decoration: none;
  
}

.button-primary{
background-color: var(--color-primary);
color: var(--color-rose-light);
}
.button-secondary{
  background-color: var(--color-green-salade);
  color: var(--color-secondary);
<<<<<<< Updated upstream
}
.button-dowland{
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 8px;
  font-weight: 700;
}
.button-link{
  background-color: var(--color-rose-light);
  color: var(--color-primary);
  padding: 8px;
  font-weight: 600;
}

nav{
  width: 100%;
  height: 16vh;
 
  
}
.contain-nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: var(--color-primary);
  position: fixed;
   z-index: 1000;
  
  }

.contain-logo{
  display: flex;
  
}
.logo{
  height: 60px;
  width: 60px;
  padding: 16px;
}

.contain-links{
  padding: 16px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 16px;
}
=======
>>>>>>> Stashed changes



.nav-switch {
  position: relative;
  display: flex;
  background-color: #D6E8D5;
  border-radius: 50px;
  padding: 5px;
  gap: 5px;
}

.nav-btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 50px;
  color: #1F3D2E ;
  text-decoration: none;
  font-weight: 600;
  z-index: 2;
  transition: color 0.3s ease;
}

.nav-btn:hover {
  position: relative;
  padding: 10px 20px;
  border-radius: 50px;
  color: #D6E8D5 ;
  text-decoration: none;
  font-weight: 600;
  z-index: 2;
  transition: color 0.3s ease;
}

.nav-btn.active {
  color: #D6E8D5;
}

.nav-switch::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(50% - 5px);
  background-color: #1F3D2E;
  border-radius: 50px;
  transition: transform 0.3s ease;
}

.nav-switch:hover::before {
  transform: translateX(100%);
}

